canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 840px;
    height: 630px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 8px black;
}
html, body{
    overflow: hidden;
    image-rendering: pixelated;
    background-color: gray;
}