canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 480;
    height: 360;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
html, body{
    overflow: hidden;
    image-rendering: pixelated;
    background-color: gray;
}